body{
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,object
{
font-size: 18px;
}

.footer{
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}
.alert{
    background-color: blue;
    text-align: center;
    text-emphasis: none;
    animation: pulse .5s infinite;
}
@keyframes pulse {
    0%, 100%{
        background-color: red;
    }
    50%{
        background-color:transparent;
    }
}